sphinx
numpydoc

# Restrict pydata-sphinx-theme on older versions of Python on Windows.
# Otherwise we get doc build failures.
pydata-sphinx-theme~=0.14.4,<0.15 ; python_version <= '3.9' and platform_system == "Windows"
pydata-sphinx-theme
